#ifndef _CONFIG_H_
#define _CONFIG_H_

//Config GRPS
#define CONFIG_GPRS_APN    "orange"
#define CONFIG_GPRS_USER   "orange"
#define CONFIG_GPRS_PASSWD "orange"

#define CONFIG_SERVER_ADDR "www.example.com"
#define CONFIG_SERVER_PORT 80
#define CONFIG_SERVER_PATH_RECORD "/test/api/v1/record"
#define CONFIG_SERVER_PATH_CONFIG "/test/api/v1/config"

#define CONFIG_TIMEOUT_GPSREADY 60

#define CONFIG_DEFAULT_ALARMSTATE 0 
#define CONFIG_DEFAULT_SMS "+33600000000"
#define CONFIG_DEFAULT_SMSC "+33689004000" 
#define CONFIG_DEFAULT_DELAY 60

#endif // _CONFIG_H_